[submodule "app/src/main/secp/secp256k1"]
	path = app/src/main/secp/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "app/src/main/jni/digibytewallet-core"]
	path = app/src/main/jni/digibytewallet-core
	url = https://gto90@github.com/Dajiban/digibytewallet-core.git
